<br>
<br>
<h1><%= "#{current_user.name}'s profile" %></h1>
<ul>
    <li><%= "#{current_user.about_me}" %></li>
    <li><%= "#{current_user.location}" %></li>
    <li><%= "#{current_user.my_plants}" %></li>
    <li><%= "#{current_user.fav_flora}" %></li>
    <li><%= "#{current_user.latest_posts}" %></li>
    <li><%= "#{current_user.profile_pic}" %></li>
</ul>