<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>My plants:</strong>
  <%= @profile.my_plants %>
</p>

<p>
  <strong>Favorite flora:</strong>
  <%= @profile.favorite_flora %>
</p>

<p>
  <strong>Latest posts:</strong>
  <%= @profile.latest_posts %>
</p>

<p>
  <strong>About me:</strong>
  <%= @profile.about_me %>
</p>

<p>
  <strong>Profile pic:</strong>
  <%= @profile.profile_pic %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
