  <nav class='navbar'>
      <ul class='nav-links'>
        <li class='nav-item'><%= link_to 'HOME', root_path %>    |</li>
        <li class='nav-item'><%= link_to 'MARKETPLACE', "#" %>    |</li>
        <li class='nav-item'><%= link_to 'FLORUM', posts_path %>    |</li>
        <% if user_signed_in? %>
          <li class='nav-item'><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %>  |  </li>
          <li class='nav-item'><%= link_to "Hello, #{current_user.name}!", user_path(current_user) %></li> 
        <% else %>
          <li class='nav-item'><%= link_to 'LOGIN', new_user_session_path %>  |  </li>
          <li class='nav-item'><%= link_to 'SIGN UP', new_user_registration_path %></li>
        <% end %>
      </ul>
  </nav>