<div id="profile">
  <h1><%= "#{@user.name}'s Profile Page" %></h1>
  <ul>
    <li><%= "#{@user.about_me}" %></li>
    <li><%= "#{@user.location}" %></li>
    <li><%= "#{@user.fav_flora}" %></li>
    <li><%= "#{@user.latest_posts}" %></li>
    <li><%= "#{@user.profile_pic}" %></li>
  </ul>

  <%= link_to 'Sell plants', new_plant_path %>

  <div id="plants-list">
  
  <h3><%= "#{@user.name}'s Plants" %></h3>
    <div id="sub-plants">
      <ul>
        <% @user.plants.each do |plant| %>
          <h4 style="padding: 0px; margin: 0px"><%= plant.name %></h4>
          <li><%= plant.details %></li>
          <li><%= plant.price %> SEK</li>
          <li>Quantity: <%= plant.quantity %></li>
          <%= link_to 'Buy this plant!', '#' %>
          <br>
        <% end %>
      </ul>
    </div>
  </div>
</div>