<div id="profile">
  <h1><%= "#{@user.name}'s Profile Page" %></h1>
  <ul>
    <li><%= "#{@user.about_me}" %></li>
    <li><%= "#{@user.location}" %></li>
    <li><%= "#{@user.my_plants}" %></li>
    <li><%= "#{@user.fav_flora}" %></li>
    <li><%= "#{@user.latest_posts}" %></li>
    <li><%= "#{@user.profile_pic}" %></li>
  </ul>
</div>