<h1> New Plant for Sale </h1>

<%= form_with model: @plant, local: true do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name, placeholder: 'What plant would you like to sell?' %>
  </div>
   
  <div>
    <%= form.label :details %><br>
    <%= form.text_area :details, placeholder: 'Add details about your plant here' %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.text_area :price, placeholder: 'Price' %>
  </div>

  # Change this to select list and multiply price by quantity
  <div>
    <%= form.label :quantity %><br>
    <%= form.text_area :quantity, placeholder: 'How many plant do you have?' %>
  </div>
   
  <div>
    <%= form.submit value: "Sell" %>
  </div>
<% end %>