<h1> New Plant for Sale </h1>

<%= form_with model: @plant, local: true do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name, placeholder: 'Plant name' %>
  </div>
   
  <div>
    <%= form.label :details %><br>
    <%= form.text_area :details, placeholder: 'Describe your plant' %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.text_area :price, placeholder: 'Price' %>
  </div>

  <%# Change this to select list and multiply price by quantity %>
  <div>
    <%= form.label :quantity %><br>
    <%= form.text_area :quantity, placeholder: 'Number of plants' %>
  </div>
   
  <div>
    <%= form.submit value: "Sell" %>
  </div>
<% end %>