<div class= "new-post">
  <%= link_to 'New Post', new_post_path %>
  <table>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Writen By</th>
    </tr>
    <tr>
      <% @posts.each do |post| %>
          <td><%= post.title %></td>
          <td><%= post.text %></td>
          <td><%= post.user.name %></td>
          <td><%= link_to 'Open', post_path(post) %></td>
          <% if post.user.id == current_user.id %>
            <td><%=link_to 'Delete', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </table>
</div>