<div class="container">
  <h1> New Post </h1>

  <%= form_with model: @post, local: true do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title, placeholder: 'Title' %>
    </div>
    
    <div>
      <%= form.label :text %><br>
      <%= form.text_area :text, placeholder: 'Text' %>
    </div>

    <div>
      <% form.label :category %><br>
      <% form.select :rating, options_for_select([["General", "general"],
      ["Marketplace", "marketplace"], ["Growth and Care", "growth_and_care"],
      ["Plant News", "plant_news"]]) %>
    </div>
    
    <div>
      <%= form.submit value: "Post" %>
    </div>
  <% end %>
</div>