<!DOCTYPE html>
<html>
  <head>
    <title>Florum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
  </head>

  <body>
    <%= render partial: 'partials/header' %>
    <br>
    <br>
    <br>
    <%= notice || alert %>
    <%= yield %>
  </body>
</html>
